{% extends "base2.html" %}
<header>
    <div id="header">
        <p>Prueba</p>
    </div>
</header>    
<body>
    <div>
        {% block body -%}
            <h1> Empleados de Tarado Corp.</h1>
            <table>
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Salario</th>
                        <th>ID_Dept</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in listado -%}
                        <tr>
                          <td>{{i.dni}}</td>
                          <td>{{i.nombre}}</td>
                          <td>{{i.apellidos}}</td>
                          <td>{{i.salario}}</td>
                          <td>{{i.id_dept}}</td>
                        </tr>
                    {% endfor -%}
                </tbody>
        {% endblock %}
    </div>
</body>
